.nav-bar{
    width: 200px ;
    display: flex ;
    justify-content: space-between;
    align-items: center ;
}

.nav-left{
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.nav-logo img{
    border-radius: 10px ;
    object-fit: 'content';
}